openapi: 3.2.0
info:
  title: Godaddy Countries API
servers:
- url: https://api.ote-godaddy.com
tags:
- name: Countries
paths:
  /v1/countries:
    get:
      tags:
      - Countries
      parameters:
      - description: MarketId in which the request is being made, and for which responses should be localized
        in: query
        name: marketId
        required: true
        schema:
          type: string
          format: bcp-47
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCountrySummary'
        '422':
          description: marketId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Authorization is not required
      operationId: getCountries
      summary: Retrieves summary country information for the provided marketId and filters
  /v1/countries/{countryKey}:
    get:
      tags:
      - Countries
      parameters:
      - description: The country key
        in: path
        name: countryKey
        required: true
        schema:
          type: string
          format: iso-country-code
      - description: MarketId in which the request is being made, and for which responses should be localized
        in: query
        name: marketId
        required: true
        schema:
          type: string
          format: bcp-47
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCountry'
        '404':
          description: Country not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: marketId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Authorization is not required
      operationId: getCountry
      summary: Retrieves country and summary state information for provided countryKey
components:
  schemas:
    ArrayOfCountrySummary:
      type: array
      items:
        $ref: '#/components/schemas/CountrySummary'
    ErrorLimit:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        fields:
          description: List of the specific fields, and the errors found with their contents
          items:
            $ref: '#/components/schemas/ErrorField'
          type: array
        message:
          description: Human-readable, English description of the error
          type: string
        retryAfterSec:
          description: Number of seconds to wait before attempting a similar request
          format: integer-positive
          type: integer
        stack:
          description: 'Stack trace indicating where the error occurred.<br/>

            NOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.

            However, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems'
          items:
            type: string
          type: array
      required:
      - retryAfterSec
      - code
    ArrayOfCountry:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    State:
      properties:
        label:
          description: The localized name of the state, province, or territory
          type: string
        stateKey:
          description: The state code
          type: string
    Country:
      properties:
        callingCode:
          description: The calling code prefix used for phone numbers in this country
          type: string
        countryKey:
          description: The ISO country-code
          format: iso-country-code
          type: string
        label:
          description: The localized name of the country
          type: string
        states:
          description: List of states/provinces in this country
          items:
            $ref: '#/components/schemas/State'
          type: array
    CountrySummary:
      properties:
        callingCode:
          description: The calling code prefix used for phone numbers in this country
          type: string
        countryKey:
          description: The ISO country-code
          format: iso-country-code
          type: string
        label:
          description: The localized name of the country
          type: string
    Error:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        fields:
          description: List of the specific fields, and the errors found with their contents
          items:
            $ref: '#/components/schemas/ErrorField'
          type: array
        message:
          description: Human-readable, English description of the error
          type: string
        stack:
          description: 'Stack trace indicating where the error occurred.<br/>

            NOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.

            However, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems'
          items:
            type: string
          type: array
      required:
      - code
    ErrorField:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        message:
          description: Human-readable, English description of the problem with the contents of the field
          type: string
        path:
          description: JSONPath referring to the field within the submitted data containing an error
          format: json-path
          type: string
      required:
      - path
      - code
