swagger: '2.0'
info:
  title: Abuse Actions v1 API
  version: 2.0.0
  description: <strong>GoDaddy Abuse API Terms of Use:</strong><p>GoDaddy’s Abuse API is provided to simplify and standardize the abuse reporting experience. To help us streamline the review of abuse reports, you acknowledge and agree that your use of GoDaddy’s Abuse API is subject to the following quality metrics and terms of use.</p><p>GoDaddy may, in its sole and absolute discretion, change or modify these terms, and such changes or modifications shall be effective immediately upon notice to you. Your use of GoDaddy’s Abuse API after such changes or modifications shall constitute your acceptance of these terms as last revised. If you do not agree to be bound by these terms as last revised, do not use (or continue to use) our Abuse API.</p><p>As an Abuse API user, you must only submit abuse reports via the API portal and cease all email submissions, including but not limited, to phishing@godaddy.com, netabuse@godaddy.com, malware@godaddy.com, or spam@godaddy.com, etc.  Any additional or duplicate submission outside of the API portal will be deprioritized for review. Submissions related to trademark, copyright or content issues may still be sent to trademarkclaims@godaddy.com, coyprightclaims@godaddy.com, and contentcomplaints@godaddy.com, respectively. Our [Front of Site](https://supportcenter.godaddy.com/AbuseReport) also describes other scenarios not covered by the API.</p><p>When you submit abuse reports via GoDaddy’s Abuse API, you must ensure that you accurately categorize the abuse type of each report to match our definitions in the API documentations provided to you. Any submission that fails to match our definitions or is miscategorized will be marked as a false positive. Examples include, but are not limited to, submissions of trademark complaints marked as phishing or malware, or submissions of copyright complaints marked as phishing or malware, etc.</p><p>If, at any time, the false positive rate of submissions exceeds 40% of your total submissions, as determined by GoDaddy, GoDaddy may in its sole discretion deprioritize any subsequent reports submitted by you and/or your organization.</p><p>You acknowledge and agree that submitting every URL for a single domain is not necessary and will not expedite the review process. If your submissions exceed five (5) URLs for a single domain, your report will be marked as a duplicate submission taking into account that the final outcome of such submissions would yield the same result as the original report. GoDaddy may in its sole discretion deprioritize reports submitted by you and/or your organization in the event more than 20% of your submissions are classified as duplicate submissions.</p><p>You further acknowledge and agree that our Customer Support lines are not intended to address abuse reporting matters or your use of GoDaddy’s Abuse API. Contacting Customer Support will not expedite the review process and may result in abuse reports being deprioritized, to be determined in our sole discretion.</p><p>Should you have any questions about GoDaddy’s Abuse API or any of the terms and conditions set forth above, please contact abuseapisupport@godaddy.com.</p>
host: api.ote-godaddy.com
tags:
- name: v1
  description: ''
paths:
  /v1/abuse/tickets:
    get:
      tags:
      - v1
      parameters:
      - description: The type of abuse.
        enum:
        - A_RECORD
        - CHILD_ABUSE
        - CONTENT
        - FRAUD_WIRE
        - IP_BLOCK
        - MALWARE
        - NETWORK_ABUSE
        - PHISHING
        - SPAM
        in: query
        name: type
        required: false
        type: string
      - default: false
        description: Is this abuse ticket closed?
        in: query
        name: closed
        required: false
        type: boolean
      - description: The domain name or ip address the abuse originated from
        format: host-name-or-ip-address
        in: query
        name: sourceDomainOrIp
        required: false
        type: string
      - description: 'The brand/company the abuse is targeting. ie: brand name/bank name'
        in: query
        name: target
        required: false
        type: string
      - description: The earliest abuse ticket creation date to pull abuse tickets for
        format: iso-datetime
        in: query
        name: createdStart
        required: false
        type: string
      - description: The latest abuse ticket creation date to pull abuse tickets for
        format: iso-datetime
        in: query
        name: createdEnd
        required: false
        type: string
      - default: 100
        description: Number of abuse ticket numbers to return.
        format: integer-positive
        in: query
        maximum: 100
        name: limit
        required: false
        type: integer
      - default: 0
        description: The earliest result set record number to pull abuse tickets for
        format: integer-positive
        in: query
        name: offset
        required: false
        type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AbuseTicketList'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Error
          schema:
            $ref: '#/definitions/Error'
      operationId: getTickets
      summary: List all abuse tickets ids that match user provided filters
    post:
      tags:
      - v1
      parameters:
      - description: The endpoint which allows the Reporter to create a new abuse ticket
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AbuseTicketCreateLegacy'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AbuseTicketId'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Error
          schema:
            $ref: '#/definitions/Error'
      operationId: createTicket
      summary: Create a new abuse ticket
  /v1/abuse/tickets/{ticketId}:
    get:
      tags:
      - v1
      parameters:
      - description: A unique abuse ticket identifier
        in: path
        name: ticketId
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AbuseTicketLegacy'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Invalid ticket id provided
          schema:
            $ref: '#/definitions/Error'
      operationId: getTicketInfo
      summary: Return the abuse ticket data for a given ticket id
  /v1/agreements:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: PrivateLabelId to operate as, if different from JWT
        in: header
        name: X-Private-Label-Id
        required: false
        type: integer
      - default: en-US
        description: Unique identifier of the Market used to retrieve/translate Legal Agreements
        format: bcp-47
        in: header
        name: X-Market-Id
        required: false
        type: string
      - description: Keys for Agreements whose details are to be retrieved
        in: query
        items:
          type: string
        name: keys
        required: true
        type: array
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/LegalAgreement'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_2'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_2'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_2'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_2'
      operationId: get
      summary: Retrieve Legal Agreements for provided agreements keys
  /v1/certificates:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - default: Default locale for shopper account
        description: Setting locale for communications such as emails and error messages
        in: header
        name: X-Market-Id
        required: false
        type: string
      - description: The certificate order information
        in: body
        name: certificateCreate
        required: true
        schema:
          $ref: '#/definitions/CertificateCreate'
      responses:
        '202':
          description: Request was successful
          schema:
            $ref: '#/definitions/CertificateIdentifier'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow renew
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: '`email` is not empty<br>`csr` is invalid'
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: '<p>Creating a certificate order can be a long running asynchronous operation in the PKI workflow. The PKI API supports 2 options for getting the completion stateful actions for this asynchronous operations: 1) by polling operations -- see /v1/certificates/{certificateId}/actions 2) via WebHook style callback -- see ''/v1/certificates/{certificateId}/callback''.</p>'
      operationId: certificate_create
      summary: Create a pending order for certificate
  /v1/certificates/validate:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - default: Default locale for shopper account
        description: Setting locale for communications such as emails and error messages
        in: header
        name: X-Market-Id
        required: false
        type: string
      - description: The certificate order info
        in: body
        name: certificateCreate
        required: true
        schema:
          $ref: '#/definitions/CertificateCreate'
      responses:
        '204':
          description: Request validated successfully
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow renew
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: '`email` is not empty <br> `csr` is invalid'
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      operationId: certificate_validate
      summary: Validate a pending order for certificate
  /v1/certificates/{certificateId}:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to lookup
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '200':
          description: Certificate details retrieved
          schema:
            $ref: '#/definitions/Certificate'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Once the certificate order has been created, this method can be used to check the status of the certificate. This method can also be used to retrieve details of the certificate.
      operationId: certificate_get
      summary: Retrieve certificate details
  /v1/certificates/{certificateId}/actions:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to register for callback
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '200':
          description: Action retrieval successful
          schema:
            $ref: '#/definitions/ArrayOfCertificateAction'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method is used to retrieve all stateful actions relating to a certificate lifecycle.
      operationId: certificate_action_retrieve
      summary: Retrieve all certificate actions
  /v1/certificates/{certificateId}/email/{emailId}/resend:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to resend email
        in: path
        name: certificateId
        required: true
        type: string
      - description: Email id for email to resend
        in: path
        name: emailId
        required: true
        type: string
      responses:
        '204':
          description: Email sent successfully
        '404':
          description: Certificate not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Email Id not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method can be used to resend emails by providing the certificate id and the email id
      operationId: certificate_resend_email
      summary: Resend an email
  /v1/certificates/{certificateId}/email/resend/{emailAddress}:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to resend emails
        in: path
        name: certificateId
        required: true
        type: string
      - description: Specific email address to resend email
        in: path
        name: emailAddress
        required: true
        type: string
      responses:
        '200':
          description: Alternate email address added and emails re-sent
          schema:
            $ref: '#/definitions/CertificateEmailHistory'
        '404':
          description: Certificate not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow alternate email address
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method adds an alternate email address to a certificate order and re-sends all existing request emails to that address.
      operationId: certificate_alternate_email_address
      summary: Add alternate email address
  /v1/certificates/{certificateId}/email/{emailId}/resend/{emailAddress}:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to resend emails
        in: path
        name: certificateId
        required: true
        type: string
      - description: Email id for email to resend
        in: path
        name: emailId
        required: true
        type: string
      - description: Specific email address to resend email
        in: path
        name: emailAddress
        required: true
        type: string
      responses:
        '204':
          description: Email sent successfully
        '404':
          description: Certificate not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Email Id not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method can be used to resend emails by providing the certificate id, the email id, and the recipient email address
      operationId: certificate_resend_email_address
      summary: Resend email to email address
  /v1/certificates/{certificateId}/email/history:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to retrieve email history
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '200':
          description: Email history retrieval successful
          schema:
            $ref: '#/definitions/CertificateEmailHistory'
        '409':
          description: Email history not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method can be used to retrieve all emails sent for a certificate.
      operationId: certificate_email_history
      summary: Retrieve email history
  /v1/certificates/{certificateId}/callback:
    delete:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to unregister callback
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '204':
          description: Callback removed
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Unregister the callback for a particular certificate.
      operationId: certificate_callback_delete
      summary: Unregister system callback
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to register for stateful action callback
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '200':
          description: Callback registered
          schema:
            $ref: '#/definitions/CertificateCallback'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method is used to retrieve the registered callback url for a certificate.
      operationId: certificate_callback_get
      summary: Retrieve system stateful action callback url
    put:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to register/replace for callback
        in: path
        name: certificateId
        required: true
        type: string
      - description: Callback url registered/replaced to receive stateful actions
        in: query
        name: callbackUrl
        required: true
        type: string
      responses:
        '204':
          description: Callback replaced/registered
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: Callback url is missing <br> Callback url is malformed
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: This method is used to register/replace url for callbacks for stateful actions relating to a certificate lifecycle. The callback url is a Webhook style pattern and will receive POST http requests with json body defined in the CertificateAction model definition for each certificate action.  Only one callback URL is allowed to be registered for each certificateId, so it will replace a previous registration.
      operationId: certificate_callback_replace
      summary: Register of certificate action callback
  /v1/certificates/{certificateId}/cancel:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to cancel
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '204':
          description: Certificate order has been canceled
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow cancel
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Use the cancel call to cancel a pending certificate order.
      operationId: certificate_cancel
      summary: Cancel a pending certificate
  /v1/certificates/{certificateId}/download:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to download
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '200':
          description: Certificate retrieved
          schema:
            $ref: '#/definitions/CertificateBundle'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow download
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      operationId: certificate_download
      summary: Download certificate
  /v1/certificates/{certificateId}/reissue:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to reissue
        in: path
        name: certificateId
        required: true
        type: string
      - description: The reissue request info
        in: body
        name: reissueCreate
        required: true
        schema:
          $ref: '#/definitions/CertificateReissue'
      responses:
        '202':
          description: Reissue request created
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow reissue
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: '`csr` is invalid<br>Delay revocation exceeds maximum'
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: <p>Rekeying is the process by which the private and public key is changed for a certificate. It is a simplified reissue,where only the CSR is changed. Reissuing is the process by which domain names are added or removed from a certificate.Once a request is validated and approved, the certificate will be reissued with the new common name and sans specified. Unlimited reissues are available during the lifetime of the certificate.New names added to a certificate that do not share the base domain of the common name may take additional time to validate. If this API call is made before a previous pending reissue has been validated and issued, the previous reissue request is automatically rejected and replaced with the current request.</p>
      operationId: certificate_reissue
      summary: Reissue active certificate
  /v1/certificates/{certificateId}/renew:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to renew
        in: path
        name: certificateId
        required: true
        type: string
      - description: The renew request info
        in: body
        name: renewCreate
        required: true
        schema:
          $ref: '#/definitions/CertificateRenew'
      responses:
        '202':
          description: Renew request created
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow renew
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: '`csr` is invalid'
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Renewal is the process by which the validity of a certificate is extended. Renewal is only available 60 days prior to expiration of the previous certificate and 30 days after the expiration of the previous certificate. The renewal supports modifying a set of the original certificate order information. Once a request is validated and approved, the certificate will be issued with extended validity. Since subject alternative names can be removed during a renewal, we require that you provide the subject alternative names you expect in the renewed certificate. New names added to a certificate that do not share the base domain of the common name may take additional time to validate. </p>
      operationId: certificate_renew
      summary: Renew active certificate
  /v1/certificates/{certificateId}/revoke:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to revoke
        in: path
        name: certificateId
        required: true
        type: string
      - description: The certificate revocation request
        in: body
        name: certificateRevoke
        required: true
        schema:
          $ref: '#/definitions/CertificateRevoke'
      responses:
        '204':
          description: Certificate Revoked
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow revoke
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Use revoke call to revoke an active certificate, if the certificate has not been issued a 404 response will be returned.
      operationId: certificate_revoke
      summary: Revoke active certificate
  /v1/certificates/{certificateId}/siteSeal:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id
        in: path
        name: certificateId
        required: true
        type: string
      - default: LIGHT
        description: This value represents the visual theme of the seal. If seal doesn't exist, default values are used if params not present. If seal does exist, default values will not be used to update unless params present.
        enum:
        - DARK
        - LIGHT
        in: query
        name: theme
        required: false
        type: string
      - default: en
        description: Determine locale for text displayed in seal image and verification page. If seal doesn't exist, default values are used if params not present. If seal does exist, default values will not be used to update unless params present.
        in: query
        name: locale
        required: false
        type: string
      responses:
        '200':
          description: Site seal retrieved
          schema:
            $ref: '#/definitions/CertificateSiteSeal'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Certificate state does not allow seal
          schema:
            $ref: '#/definitions/Error_3'
        '422':
          description: '''locale'' is invalid'
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: <p>This method is used to obtain the site seal information for an issued certificate. A site seal is a graphic that the certificate purchaser can embed on their web site to show their visitors information about their SSL certificate. If a web site visitor clicks on the site seal image, a pop-up page is displayed that contains detailed information about the SSL certificate. The site seal token is used to link the site seal graphic image to the appropriate certificate details pop-up page display when a user clicks on the site seal. The site seal images are expected to be static images and hosted on the reseller's website, to minimize delays for customer page load times.</p>
      operationId: certificate_siteseal_get
      summary: Get Site seal
  /v1/certificates/{certificateId}/verifyDomainControl:
    post:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Certificate id to lookup
        in: path
        name: certificateId
        required: true
        type: string
      responses:
        '204':
          description: Domain control was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_3'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_3'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_3'
        '404':
          description: Certificate id not found
          schema:
            $ref: '#/definitions/Error_3'
        '409':
          description: Domain control was not successful <br> Certificate state does not allow domain control
          schema:
            $ref: '#/definitions/Error_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_3'
      description: Domain control is a means for verifying the domain included in the certificate order. This resource is useful for resellers that control the domains for their customers, and can expedite the verification process. See https://www.godaddy.com/help/verifying-your-domain-ownership-for-ssl-certificate-requests-html-or-dns-7452
      operationId: certificate_verifydomaincontrol
      summary: Check Domain Control
  /v1/countries:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: MarketId in which the request is being made, and for which responses should be localized
        format: bcp-47
        in: query
        name: marketId
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/ArrayOfCountrySummary'
        '422':
          description: marketId is required
          schema:
            $ref: '#/definitions/Error_4'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_2'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_4'
      description: Authorization is not required
      operationId: getCountries
      summary: Retrieves summary country information for the provided marketId and filters
  /v1/countries/{countryKey}:
    get:
      tags:
      - v1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: The country key
        format: iso-country-code
        in: path
        name: countryKey
        required: true
        type: string
      - description: MarketId in which the request is being made, and for which responses should be localized
        format: bcp-47
        in: query
        name: marketId
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/ArrayOfCountry'
        '404':
          description: Country not found
          schema:
            $ref: '#/definitions/Error_4'
        '422':
          description: marketId is required
          schema:
            $ref: '#/definitions/Error_4'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_2'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_4'
      description: Authorization is not required
      operationId: getCountry
      summary: Retrieves country and summary state information for provided countryKey
  /v1/domains:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Shopper ID whose domains are to be retrieved
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Only include results with `status` value in the specified set
        in: query
        items:
          enum:
          - ACTIVE
          - AWAITING_CLAIM_ACK
          - AWAITING_DOCUMENT_AFTER_TRANSFER
          - AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT
          - AWAITING_DOCUMENT_UPLOAD
          - AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY
          - AWAITING_PAYMENT
          - AWAITING_RENEWAL_TRANSFER_IN_COMPLETE
          - AWAITING_TRANSFER_IN_ACK
          - AWAITING_TRANSFER_IN_AUTH
          - AWAITING_TRANSFER_IN_AUTO
          - AWAITING_TRANSFER_IN_WHOIS
          - AWAITING_TRANSFER_IN_WHOIS_FIX
          - AWAITING_VERIFICATION_ICANN
          - AWAITING_VERIFICATION_ICANN_MANUAL
          - CANCELLED
          - CANCELLED_HELD
          - CANCELLED_REDEEMABLE
          - CANCELLED_TRANSFER
          - CONFISCATED
          - DISABLED_SPECIAL
          - EXCLUDED_INVALID_CLAIM_FIREHOSE
          - EXPIRED_REASSIGNED
          - FAILED_BACKORDER_CAPTURE
          - FAILED_DROP_IMMEDIATE_THEN_ADD
          - FAILED_PRE_REGISTRATION
          - FAILED_REDEMPTION
          - FAILED_REDEMPTION_REPORT
          - FAILED_REGISTRATION
          - FAILED_REGISTRATION_FIREHOSE
          - FAILED_RESTORATION_REDEMPTION_MOCK
          - FAILED_SETUP
          - FAILED_TRANSFER_IN
          - FAILED_TRANSFER_IN_BAD_STATUS
          - FAILED_TRANSFER_IN_REGISTRY
          - HELD_COURT_ORDERED
          - HELD_DISPUTED
          - HELD_EXPIRATION_PROTECTION
          - HELD_EXPIRED_REDEMPTION_MOCK
          - HELD_REGISTRAR_ADD
          - HELD_REGISTRAR_REMOVE
          - HELD_SHOPPER
          - HELD_TEMPORARY
          - LOCKED_ABUSE
          - LOCKED_COPYRIGHT
          - LOCKED_REGISTRY
          - LOCKED_SUPER
          - PARKED_AND_HELD
          - PARKED_EXPIRED
          - PARKED_VERIFICATION_ICANN
          - PENDING_ABORT_CANCEL_SETUP
          - PENDING_AGREEMENT_PRE_REGISTRATION
          - PENDING_APPLY_RENEWAL_CREDITS
          - PENDING_BACKORDER_CAPTURE
          - PENDING_BLOCKED_REGISTRY
          - PENDING_CANCEL_REGISTRANT_PROFILE
          - PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT
          - PENDING_COMPLETE_REGISTRANT_PROFILE
          - PENDING_COO
          - PENDING_COO_COMPLETE
          - PENDING_DNS
          - PENDING_DNS_ACTIVE
          - PENDING_DNS_INACTIVE
          - PENDING_DOCUMENT_VALIDATION
          - PENDING_DOCUMENT_VERIFICATION
          - PENDING_DROP_IMMEDIATE
          - PENDING_DROP_IMMEDIATE_THEN_ADD
          - PENDING_EPP_CREATE
          - PENDING_EPP_DELETE
          - PENDING_EPP_UPDATE
          - PENDING_ESCALATION_REGISTRY
          - PENDING_EXPIRATION
          - PENDING_EXPIRATION_RESPONSE
          - PENDING_EXPIRATION_SYNC
          - PENDING_EXPIRED_REASSIGNMENT
          - PENDING_EXPIRE_AUTO_ADD
          - PENDING_EXTEND_REGISTRANT_PROFILE
          - PENDING_FAILED_COO
          - PENDING_FAILED_EPP_CREATE
          - PENDING_FAILED_HELD
          - PENDING_FAILED_PURCHASE_PREMIUM
          - PENDING_FAILED_RECONCILE_FIREHOSE
          - PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT
          - PENDING_FAILED_RELEASE_PREMIUM
          - PENDING_FAILED_RENEW_EXPIRATION_PROTECTION
          - PENDING_FAILED_RESERVE_PREMIUM
          - PENDING_FAILED_SUBMIT_FIREHOSE
          - PENDING_FAILED_TRANSFER_ACK_PREMIUM
          - PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM
          - PENDING_FAILED_TRANSFER_IN_PREMIUM
          - PENDING_FAILED_TRANSFER_PREMIUM
          - PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM
          - PENDING_FAILED_UNLOCK_PREMIUM
          - PENDING_FAILED_UPDATE_API
          - PENDING_FRAUD_VERIFICATION
          - PENDING_FRAUD_VERIFIED
          - PENDING_GET_CONTACTS
          - PENDING_GET_HOSTS
          - PENDING_GET_NAME_SERVERS
          - PENDING_GET_STATUS
          - PENDING_HOLD_ESCROW
          - PENDING_HOLD_REDEMPTION
          - PENDING_LOCK_CLIENT_REMOVE
          - PENDING_LOCK_DATA_QUALITY
          - PENDING_LOCK_THEN_HOLD_REDEMPTION
          - PENDING_PARKING_DETERMINATION
          - PENDING_PARK_INVALID_WHOIS
          - PENDING_PARK_INVALID_WHOIS_REMOVAL
          - PENDING_PURCHASE_PREMIUM
          - PENDING_RECONCILE
          - PENDING_RECONCILE_FIREHOSE
          - PENDING_REDEMPTION
          - PENDING_REDEMPTION_REPORT
          - PENDING_REDEMPTION_REPORT_COMPLETE
          - PENDING_REDEMPTION_REPORT_SUBMITTED
          - PENDING_REDEMPTION_WITHOUT_RECEIPT
          - PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK
          - PENDING_RELEASE_PREMIUM
          - PENDING_REMOVAL
          - PENDING_REMOVAL_HELD
          - PENDING_REMOVAL_PARKED
          - PENDING_REMOVAL_UNPARK
          - PENDING_RENEWAL
          - PENDING_RENEW_EXPIRATION_PROTECTION
          - PENDING_RENEW_INFINITE
          - PENDING_RENEW_LOCKED
          - PENDING_RENEW_WITHOUT_RECEIPT
          - PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT
          - PENDING_RESERVE_PREMIUM
          - PENDING_RESET_VERIFICATION_ICANN
          - PENDING_RESPONSE_FIREHOSE
          - PENDING_RESTORATION
          - PENDING_RESTORATION_INACTIVE
          - PENDING_RESTORATION_REDEMPTION_MOCK
          - PENDING_RETRY_EPP_CREATE
          - PENDING_RETRY_HELD
          - PENDING_SEND_AUTH_CODE
          - PENDING_SETUP
          - PENDING_SETUP_ABANDON
          - PENDING_SETUP_AGREEMENT_LANDRUSH
          - PENDING_SETUP_AGREEMENT_SUNRISE2_A
          - PENDING_SETUP_AGREEMENT_SUNRISE2_B
          - PENDING_SETUP_AGREEMENT_SUNRISE2_C
          - PENDING_SETUP_AUTH
          - PENDING_SETUP_DNS
          - PENDING_SETUP_FAILED
          - PENDING_SETUP_REVIEW
          - PENDING_SETUP_SUNRISE
          - PENDING_SETUP_SUNRISE_PRE
          - PENDING_SETUP_SUNRISE_RESPONSE
          - PENDING_SUBMIT_FAILURE
          - PENDING_SUBMIT_FIREHOSE
          - PENDING_SUBMIT_HOLD_FIREHOSE
          - PENDING_SUBMIT_HOLD_LANDRUSH
          - PENDING_SUBMIT_HOLD_SUNRISE
          - PENDING_SUBMIT_LANDRUSH
          - PENDING_SUBMIT_RESPONSE_FIREHOSE
          - PENDING_SUBMIT_RESPONSE_LANDRUSH
          - PENDING_SUBMIT_RESPONSE_SUNRISE
          - PENDING_SUBMIT_SUCCESS_FIREHOSE
          - PENDING_SUBMIT_SUCCESS_LANDRUSH
          - PENDING_SUBMIT_SUCCESS_SUNRISE
          - PENDING_SUBMIT_SUNRISE
          - PENDING_SUBMIT_WAITING_LANDRUSH
          - PENDING_SUCCESS_PRE_REGISTRATION
          - PENDING_SUSPENDED_DATA_QUALITY
          - PENDING_TRANSFER_ACK_PREMIUM
          - PENDING_TRANSFER_IN
          - PENDING_TRANSFER_IN_ACK
          - PENDING_TRANSFER_IN_ACK_PREMIUM
          - PENDING_TRANSFER_IN_BAD_REGISTRANT
          - PENDING_TRANSFER_IN_CANCEL
          - PENDING_TRANSFER_IN_CANCEL_REGISTRY
          - PENDING_TRANSFER_IN_COMPLETE_ACK
          - PENDING_TRANSFER_IN_DELETE
          - PENDING_TRANSFER_IN_LOCK
          - PENDING_TRANSFER_IN_NACK
          - PENDING_TRANSFER_IN_NOTIFICATION
          - PENDING_TRANSFER_IN_PREMIUM
          - PENDING_TRANSFER_IN_RELEASE
          - PENDING_TRANSFER_IN_RESPONSE
          - PENDING_TRANSFER_IN_UNDERAGE
          - PENDING_TRANSFER_OUT
          - PENDING_TRANSFER_OUT_ACK
          - PENDING_TRANSFER_OUT_NACK
          - PENDING_TRANSFER_OUT_PREMIUM
          - PENDING_TRANSFER_OUT_UNDERAGE
          - PENDING_TRANSFER_OUT_VALIDATION
          - PENDING_TRANSFER_PREMIUM
          - PENDING_TRANSFER_PREMUIM
          - PENDING_TRANSFER_SUBMIT_PREMIUM
          - PENDING_UNLOCK_DATA_QUALITY
          - PENDING_UNLOCK_PREMIUM
          - PENDING_UPDATE
          - PENDING_UPDATED_REGISTRANT_DATA_QUALITY
          - PENDING_UPDATE_ACCOUNT
          - PENDING_UPDATE_API
          - PENDING_UPDATE_API_RESPONSE
          - PENDING_UPDATE_AUTH
          - PENDING_UPDATE_CONTACTS
          - PENDING_UPDATE_CONTACTS_PRIVACY
          - PENDING_UPDATE_DNS
          - PENDING_UPDATE_DNS_SECURITY
          - PENDING_UPDATE_ELIGIBILITY
          - PENDING_UPDATE_EPP_CONTACTS
          - PENDING_UPDATE_MEMBERSHIP
          - PENDING_UPDATE_OWNERSHIP
          - PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION
          - PENDING_UPDATE_OWNERSHIP_HELD
          - PENDING_UPDATE_REGISTRANT
          - PENDING_UPDATE_REPO
          - PENDING_VALIDATION_DATA_QUALITY
          - PENDING_VERIFICATION_FRAUD
          - PENDING_VERIFICATION_STATUS
          - PENDING_VERIFY_REGISTRANT_DATA_QUALITY
          - RESERVED
          - RESERVED_PREMIUM
          - REVERTED
          - SUSPENDED_VERIFICATION_ICANN
          - TRANSFERRED_OUT
          - UNLOCKED_ABUSE
          - UNLOCKED_SUPER
          - UNPARKED_AND_UNHELD
          - UPDATED_OWNERSHIP
          - UPDATED_OWNERSHIP_HELD
          type: string
        name: statuses
        required: false
        type: array
      - description: Only include results with `status` value in any of the specified groups
        in: query
        items:
          enum:
          - INACTIVE
          - PRE_REGISTRATION
          - REDEMPTION
          - RENEWABLE
          - VERIFICATION_ICANN
          - VISIBLE
          type: string
        name: statusGroups
        required: false
        type: array
      - description: Maximum number of domains to return
        in: query
        maximum: 1000
        minimum: 1
        name: limit
        required: false
        type: integer
      - description: Marker Domain to use as the offset in results
        in: query
        name: marker
        required: false
        type: string
      - description: Optional details to be included in the response
        in: query
        items:
          enum:
          - authCode
          - contacts
          - nameServers
          type: string
        name: includes
        required: false
        type: array
      - description: Only include results that have been modified since the specified date
        format: iso-datetime
        in: query
        name: modifiedDate
        required: false
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/DomainSummary'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Limit must have a value no greater than 1000
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: list
      summary: Retrieve a list of Domains for the specified Shopper
  /v1/domains/agreements:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - default: en-US
        description: Unique identifier of the Market used to retrieve/translate Legal Agreements
        format: bcp-47
        in: header
        name: X-Market-Id
        required: false
        type: string
      - description: list of TLDs whose legal agreements are to be retrieved
        in: query
        items:
          type: string
        name: tlds
        required: true
        type: array
      - description: Whether or not privacy has been requested
        in: query
        name: privacy
        required: true
        type: boolean
      - description: Whether or not domain tranfer has been requested
        in: query
        name: forTransfer
        required: false
        type: boolean
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/LegalAgreement'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: getAgreement
      summary: Retrieve the legal agreement(s) required to purchase the specified TLD and add-ons
  /v1/domains/available:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Domain name whose availability is to be checked
        in: query
        name: domain
        required: true
        type: string
      - default: FAST
        description: Optimize for time ('FAST') or accuracy ('FULL')
        enum:
        - FAST
        - FULL
        - fast
        - full
        in: query
        name: checkType
        required: false
        type: string
      - default: false
        description: Whether or not to include domains available for transfer. If set to True, checkType is ignored
        in: query
        name: forTransfer
        required: false
        type: boolean
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/DomainAvailableResponse'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dashbr>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>domain must be specified
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: available
      summary: Determine whether or not the specified domain is available for purchase
    post:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Domain names for which to check availability
        in: body
        name: domains
        required: true
        schema:
          items:
            type: string
          maximum: 500
          type: array
      - default: FAST
        description: Optimize for time ('FAST') or accuracy ('FULL')
        enum:
        - FAST
        - FULL
        - fast
        - full
        in: query
        name: checkType
        required: false
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/DomainAvailableBulk'
        '203':
          description: Request was partially successful
          schema:
            $ref: '#/definitions/DomainAvailableBulkMixed'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dash<br>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>Reserved name error<br>domain must be specified
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: availableBulk
      summary: Determine whether or not the specified domains are available for purchase
  /v1/domains/contacts/validate:
    post:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - default: 1
        description: PrivateLabelId to operate as, if different from JWT
        in: header
        name: X-Private-Label-Id
        required: false
        type: integer
      - default: en-US
        description: MarketId in which the request is being made, and for which responses should be localized
        format: bcp-47
        in: query
        name: marketId
        required: false
        type: string
      - description: An instance document expected for domains contacts validation
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DomainsContactsBulk'
      responses:
        '200':
          description: No response was specified
        '204':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Request body doesn't fulfill schema, see details in `fields`
          schema:
            $ref: '#/definitions/ErrorDomainContactsValidate'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      description: All contacts specified in request will be validated against all domains specifed in "domains". As an alternative, you can also pass in tlds, with the exception of `uk`, which requires full domain names
      operationId: ContactsValidate
      summary: Validate the request body using the Domain Contact Validation Schema for specified domains.
  /v1/domains/purchase:
    post:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: The Shopper for whom the domain should be purchased
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: An instance document expected to match the JSON schema returned by `./schema/{tld}`
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DomainPurchase'
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/DomainPurchaseResponse'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: domain must be specified<br>Based on restrictions declared in JSON schema returned by `./schema/{tld}`<br>Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dash<br>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>`body` must be specified
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: purchase
      summary: Purchase and register the specified Domain
  /v1/domains/purchase/schema/{tld}:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: The Top-Level Domain whose schema should be retrieved
        in: path
        name: tld
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/JsonSchema'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`tld` must be specified'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: schema
      summary: Retrieve the schema to be submitted when registering a Domain for the specified TLD
  /v1/domains/purchase/validate:
    post:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: An instance document expected to match the JSON schema returned by `./schema/{tld}`
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DomainPurchase'
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Based on restrictions declared in JSON schema returned by `./schema/{tld}`
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: validate
      summary: Validate the request body using the Domain Purchase Schema for the specified TLD
  /v1/domains/suggest:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Shopper ID for which the suggestions are being generated
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain name or set of keywords for which alternative domain names will be suggested
        in: query
        name: query
        required: false
        type: string
      - description: 'Two-letter ISO country code to be used as a hint for target region<br/><br/>

          NOTE: These are sample values, there are many

          <a href="http://www.iso.org/iso/country_codes.htm">more</a>'
        enum:
        - AC
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KR
        - KV
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - 'NO'
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - ST
        - SV
        - SX
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TP
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
        format: iso-country-code
        in: query
        name: country
        required: false
        type: string
      - description: Name of city to be used as a hint for target region
        format: city-name
        in: query
        name: city
        required: false
        type: string
      - description: 'Sources to be queried<br/><br/><ul>

          <li><strong>CC_TLD</strong> - Varies the TLD using Country Codes</li>

          <li><strong>EXTENSION</strong> - Varies the TLD</li>

          <li><strong>KEYWORD_SPIN</strong> - Identifies keywords and then rotates each one</li>

          <li><strong>PREMIUM</strong> - Includes variations with premium prices</li></ul>'
        in: query
        items:
          enum:
          - CC_TLD
          - EXTENSION
          - KEYWORD_SPIN
          - PREMIUM
          - cctld
          - extension
          - keywordspin
          - premium
          type: string
        name: sources
        required: false
        type: array
      - description: 'Top-level domains to be included in suggestions<br/><br/>

          NOTE: These are sample values, there are many

          <a href="http://www.godaddy.com/tlds/gtld.aspx#domain_search_form">more</a>'
        in: query
        items:
          type: string
        name: tlds
        required: false
        type: array
      - description: Maximum length of second-level domain
        in: query
        name: lengthMax
        required: false
        type: integer
      - description: Minimum length of second-level domain
        in: query
        name: lengthMin
        required: false
        type: integer
      - description: Maximum number of suggestions to return
        in: query
        name: limit
        required: false
        type: integer
      - default: 1000
        description: 'Maximum amount of time, in milliseconds, to wait for responses

          If elapses, return the results compiled up to that point'
        format: integer-positive
        in: query
        name: waitMs
        required: false
        type: integer
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/DomainSuggestion'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`query` must be specified'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: suggest
      summary: Suggest alternate Domain names based on a seed Domain, a set of keywords, or the shopper's purchase history
  /v1/domains/tlds:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/TldSummary'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: tlds
      summary: Retrieves a list of TLDs supported and enabled for sale
  /v1/domains/{domain}:
    delete:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Domain to cancel
        in: path
        name: domain
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: The domain does not exist
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Unknown domain error<br>At least two apex (aka @) `nameServers` must be specified
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: cancel
      summary: Cancel a purchased domain
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Shopper ID expected to own the specified domain
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain name whose details are to be retrieved
        in: path
        name: domain
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/DomainDetail'
        '203':
          description: Request was partially successful, see verifications.status for further detail
          schema:
            $ref: '#/definitions/DomainDetail'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`domain` must be specified'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: get
      summary: Retrieve details for the specified Domain
    patch:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Domain whose details are to be updated
        in: path
        name: domain
        required: true
        type: string
      - description: 'Shopper for whom Domain is to be updated. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Changes to apply to existing Domain
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DomainUpdate'
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Specified Subaccount not owned by authenticated Shopper
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '409':
          description: The given domain is not eligible to have its nameservers changed
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: At least two apex (aka @) `nameServers` must be specified<br>Failed to update nameservers
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: update
      summary: Update details for the specified Domain
  /v1/domains/{domain}/contacts:
    patch:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper for whom domain contacts are to be updated. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose Contacts are to be updated.
        in: path
        name: domain
        required: true
        type: string
      - description: Changes to apply to existing Contacts
        in: body
        name: contacts
        required: true
        schema:
          $ref: '#/definitions/DomainContacts'
      responses:
        '200':
          description: No response was specified
        '204':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Domain not found<br>Identity document not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`domain` is not a valid Domain name'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: updateContacts
      summary: Update domain
  /v1/domains/{domain}/privacy:
    delete:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Shopper ID of the owner of the domain
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose privacy is to be cancelled
        in: path
        name: domain
        required: true
        type: string
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: The domain does not exist
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: Customer has purchased Domain Ownership Protection and the domain has expired<br>The domain status does not allow performing the operation<br>Unknown domain error
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: cancelPrivacy
      summary: Submit a privacy cancellation request for the given domain
  /v1/domains/{domain}/privacy/purchase:
    post:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: Shopper ID of the owner of the domain
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain for which to purchase privacy
        in: path
        name: domain
        required: true
        type: string
      - description: Options for purchasing privacy
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PrivacyPurchase'
      responses:
        '200':
          description: Request was successful
          schema:
            $ref: '#/definitions/DomainPurchaseResponse'
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '409':
          description: The domain status does not allow performing the operation
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: End-user must read and consent to all of the following legal agreements<br>`domain` must match `sld.tld`
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
      operationId: purchasePrivacy
      summary: Purchase privacy for a specified domain
  /v1/domains/{domain}/records:
    patch:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose DNS Records are to be augmented
        in: path
        name: domain
        required: true
        type: string
      - description: DNS Records to add to whatever currently exists
        in: body
        name: records
        required: true
        schema:
          $ref: '#/definitions/ArrayOfDNSRecord'
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`domain` is not a valid Domain name'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: recordAdd
      summary: Add the specified DNS Records to the specified Domain
    put:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose DNS Records are to be replaced
        in: path
        name: domain
        required: true
        type: string
      - description: DNS Records to replace whatever currently exists
        in: body
        name: records
        required: true
        schema:
          items:
            $ref: '#/definitions/DNSRecord'
          type: array
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`domain` is not a valid Domain name<br>`record` does not fulfill the schema'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: recordReplace
      summary: Replace all DNS Records for the specified Domain
  /v1/domains/{domain}/records/{type}/{name}:
    get:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose DNS Records are to be retrieved
        in: path
        name: domain
        required: true
        type: string
      - description: DNS Record Type for which DNS Records are to be retrieved
        enum:
        - A
        - AAAA
        - CNAME
        - MX
        - NS
        - SOA
        - SRV
        - TXT
        in: path
        name: type
        required: true
        type: string
      - description: DNS Record Name for which DNS Records are to be retrieved
        in: path
        name: name
        required: true
        type: string
      - description: Number of results to skip for pagination
        in: query
        name: offset
        required: false
        type: integer
      - description: Maximum number of items to return
        in: query
        name: limit
        required: false
        type: integer
      responses:
        '200':
          description: Request was successful
          schema:
            items:
              $ref: '#/definitions/DNSRecord'
            type: array
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`record` does not fulfill the schema<br>`domain` is not a valid Domain name'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: recordGet
      summary: Retrieve DNS Records for the specified Domain, optionally with the specified Type and/or Name
    put:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose DNS Records are to be replaced
        in: path
        name: domain
        required: true
        type: string
      - description: DNS Record Type for which DNS Records are to be replaced
        enum:
        - A
        - AAAA
        - CNAME
        - MX
        - NS
        - SOA
        - SRV
        - TXT
        in: path
        name: type
        required: true
        type: string
      - description: DNS Record Name for which DNS Records are to be replaced
        in: path
        name: name
        required: true
        type: string
      - description: DNS Records to replace whatever currently exists
        in: body
        name: records
        required: true
        schema:
          items:
            $ref: '#/definitions/DNSRecordCreateTypeName'
          type: array
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`record` does not fulfill the schema'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: recordReplaceTypeName
      summary: Replace all DNS Records for the specified Domain with the specified Type and Name
    delete:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
      - description: Domain whose DNS Records are to be deleted
        in: path
        name: domain
        required: true
        type: string
      - description: DNS Record Type for which DNS Records are to be deleted
        enum:
        - A
        - AAAA
        - CNAME
        - MX
        - SRV
        - TXT
        in: path
        name: type
        required: true
        type: string
      - description: DNS Record Name for which DNS Records are to be deleted
        in: path
        name: name
        required: true
        type: string
      responses:
        '204':
          description: Request was successful
        '400':
          description: Request was malformed
          schema:
            $ref: '#/definitions/Error_5'
        '401':
          description: Authentication info not sent or invalid
          schema:
            $ref: '#/definitions/Error_5'
        '403':
          description: Authenticated user is not allowed access
          schema:
            $ref: '#/definitions/Error_5'
        '404':
          description: Domain not found
          schema:
            $ref: '#/definitions/Error_5'
        '409':
          description: The given domain is not eligible to have its records changed
          schema:
            $ref: '#/definitions/Error_5'
        '422':
          description: '`domain` is not a valid Domain name'
          schema:
            $ref: '#/definitions/Error_5'
        '429':
          description: Too many requests received within interval
          schema:
            $ref: '#/definitions/ErrorLimit_3'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Error_5'
        '504':
          description: Gateway timeout
          schema:
            $ref: '#/definitions/Error_5'
      operationId: recordDeleteTypeName
      summary: Delete all DNS Records for the specified Domain with the specified Type and Name
  /v1/domains/{domain}/records/{type}:
    put:
      tags:
      - v1
      consumes:
      - application/json
      - application/xml
      - text/xml
      produces:
      - application/json
      - application/javascript
      - application/xml
      - text/javascript
      - text/xml
      parameters:
      - description: 'Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        type: string
[...]
