openapi: 3.2.0
info:
  title: Domains API
  description: 'The Domains API is for domain-related actions such as purchasing, renewing, or managing domains.


    Updates to domains generally require the domain to be in an `ACTIVE` status. Some update actions (such as updating nameservers) on protected and high-value domains requires 2FA which is currently not supported via the api.'
servers:
- url: https://api.ote-godaddy.com
tags:
- name: Domains
  description: ''
paths:
  /v1/domains:
    get:
      tags:
      - Domains
      parameters:
      - description: Shopper ID whose domains are to be retrieved
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Only include results with `status` value in the specified set
        in: query
        name: statuses
        required: false
        schema:
          type: array
          items:
            enum:
            - ACTIVE
            - AWAITING_CLAIM_ACK
            - AWAITING_DOCUMENT_AFTER_TRANSFER
            - AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT
            - AWAITING_DOCUMENT_UPLOAD
            - AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY
            - AWAITING_PAYMENT
            - AWAITING_RENEWAL_TRANSFER_IN_COMPLETE
            - AWAITING_TRANSFER_IN_ACK
            - AWAITING_TRANSFER_IN_AUTH
            - AWAITING_TRANSFER_IN_AUTO
            - AWAITING_TRANSFER_IN_WHOIS
            - AWAITING_TRANSFER_IN_WHOIS_FIX
            - AWAITING_VERIFICATION_ICANN
            - AWAITING_VERIFICATION_ICANN_MANUAL
            - CANCELLED
            - CANCELLED_HELD
            - CANCELLED_REDEEMABLE
            - CANCELLED_TRANSFER
            - CONFISCATED
            - DISABLED_SPECIAL
            - EXCLUDED_INVALID_CLAIM_FIREHOSE
            - EXPIRED_REASSIGNED
            - FAILED_BACKORDER_CAPTURE
            - FAILED_DROP_IMMEDIATE_THEN_ADD
            - FAILED_PRE_REGISTRATION
            - FAILED_REDEMPTION
            - FAILED_REDEMPTION_REPORT
            - FAILED_REGISTRATION
            - FAILED_REGISTRATION_FIREHOSE
            - FAILED_RESTORATION_REDEMPTION_MOCK
            - FAILED_SETUP
            - FAILED_TRANSFER_IN
            - FAILED_TRANSFER_IN_BAD_STATUS
            - FAILED_TRANSFER_IN_REGISTRY
            - HELD_COURT_ORDERED
            - HELD_DISPUTED
            - HELD_EXPIRATION_PROTECTION
            - HELD_EXPIRED_REDEMPTION_MOCK
            - HELD_REGISTRAR_ADD
            - HELD_REGISTRAR_REMOVE
            - HELD_SHOPPER
            - HELD_TEMPORARY
            - LOCKED_ABUSE
            - LOCKED_COPYRIGHT
            - LOCKED_REGISTRY
            - LOCKED_SUPER
            - PARKED_AND_HELD
            - PARKED_EXPIRED
            - PARKED_VERIFICATION_ICANN
            - PENDING_ABORT_CANCEL_SETUP
            - PENDING_AGREEMENT_PRE_REGISTRATION
            - PENDING_APPLY_RENEWAL_CREDITS
            - PENDING_BACKORDER_CAPTURE
            - PENDING_BLOCKED_REGISTRY
            - PENDING_CANCEL_REGISTRANT_PROFILE
            - PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_COMPLETE_REGISTRANT_PROFILE
            - PENDING_COO
            - PENDING_COO_COMPLETE
            - PENDING_DNS
            - PENDING_DNS_ACTIVE
            - PENDING_DNS_INACTIVE
            - PENDING_DOCUMENT_VALIDATION
            - PENDING_DOCUMENT_VERIFICATION
            - PENDING_DROP_IMMEDIATE
            - PENDING_DROP_IMMEDIATE_THEN_ADD
            - PENDING_EPP_CREATE
            - PENDING_EPP_DELETE
            - PENDING_EPP_UPDATE
            - PENDING_ESCALATION_REGISTRY
            - PENDING_EXPIRATION
            - PENDING_EXPIRATION_RESPONSE
            - PENDING_EXPIRATION_SYNC
            - PENDING_EXPIRED_REASSIGNMENT
            - PENDING_EXPIRE_AUTO_ADD
            - PENDING_EXTEND_REGISTRANT_PROFILE
            - PENDING_FAILED_COO
            - PENDING_FAILED_EPP_CREATE
            - PENDING_FAILED_HELD
            - PENDING_FAILED_PURCHASE_PREMIUM
            - PENDING_FAILED_RECONCILE_FIREHOSE
            - PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_FAILED_RELEASE_PREMIUM
            - PENDING_FAILED_RENEW_EXPIRATION_PROTECTION
            - PENDING_FAILED_RESERVE_PREMIUM
            - PENDING_FAILED_SUBMIT_FIREHOSE
            - PENDING_FAILED_TRANSFER_ACK_PREMIUM
            - PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM
            - PENDING_FAILED_TRANSFER_IN_PREMIUM
            - PENDING_FAILED_TRANSFER_PREMIUM
            - PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM
            - PENDING_FAILED_UNLOCK_PREMIUM
            - PENDING_FAILED_UPDATE_API
            - PENDING_FRAUD_VERIFICATION
            - PENDING_FRAUD_VERIFIED
            - PENDING_GET_CONTACTS
            - PENDING_GET_HOSTS
            - PENDING_GET_NAME_SERVERS
            - PENDING_GET_STATUS
            - PENDING_HOLD_ESCROW
            - PENDING_HOLD_REDEMPTION
            - PENDING_LOCK_CLIENT_REMOVE
            - PENDING_LOCK_DATA_QUALITY
            - PENDING_LOCK_THEN_HOLD_REDEMPTION
            - PENDING_PARKING_DETERMINATION
            - PENDING_PARK_INVALID_WHOIS
            - PENDING_PARK_INVALID_WHOIS_REMOVAL
            - PENDING_PURCHASE_PREMIUM
            - PENDING_RECONCILE
            - PENDING_RECONCILE_FIREHOSE
            - PENDING_REDEMPTION
            - PENDING_REDEMPTION_REPORT
            - PENDING_REDEMPTION_REPORT_COMPLETE
            - PENDING_REDEMPTION_REPORT_SUBMITTED
            - PENDING_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK
            - PENDING_RELEASE_PREMIUM
            - PENDING_REMOVAL
            - PENDING_REMOVAL_HELD
            - PENDING_REMOVAL_PARKED
            - PENDING_REMOVAL_UNPARK
            - PENDING_RENEWAL
            - PENDING_RENEW_EXPIRATION_PROTECTION
            - PENDING_RENEW_INFINITE
            - PENDING_RENEW_LOCKED
            - PENDING_RENEW_WITHOUT_RECEIPT
            - PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_RESERVE_PREMIUM
            - PENDING_RESET_VERIFICATION_ICANN
            - PENDING_RESPONSE_FIREHOSE
            - PENDING_RESTORATION
            - PENDING_RESTORATION_INACTIVE
            - PENDING_RESTORATION_REDEMPTION_MOCK
            - PENDING_RETRY_EPP_CREATE
            - PENDING_RETRY_HELD
            - PENDING_SEND_AUTH_CODE
            - PENDING_SETUP
            - PENDING_SETUP_ABANDON
            - PENDING_SETUP_AGREEMENT_LANDRUSH
            - PENDING_SETUP_AGREEMENT_SUNRISE2_A
            - PENDING_SETUP_AGREEMENT_SUNRISE2_B
            - PENDING_SETUP_AGREEMENT_SUNRISE2_C
            - PENDING_SETUP_AUTH
            - PENDING_SETUP_DNS
            - PENDING_SETUP_FAILED
            - PENDING_SETUP_REVIEW
            - PENDING_SETUP_SUNRISE
            - PENDING_SETUP_SUNRISE_PRE
            - PENDING_SETUP_SUNRISE_RESPONSE
            - PENDING_SUBMIT_FAILURE
            - PENDING_SUBMIT_FIREHOSE
            - PENDING_SUBMIT_HOLD_FIREHOSE
            - PENDING_SUBMIT_HOLD_LANDRUSH
            - PENDING_SUBMIT_HOLD_SUNRISE
            - PENDING_SUBMIT_LANDRUSH
            - PENDING_SUBMIT_RESPONSE_FIREHOSE
            - PENDING_SUBMIT_RESPONSE_LANDRUSH
            - PENDING_SUBMIT_RESPONSE_SUNRISE
            - PENDING_SUBMIT_SUCCESS_FIREHOSE
            - PENDING_SUBMIT_SUCCESS_LANDRUSH
            - PENDING_SUBMIT_SUCCESS_SUNRISE
            - PENDING_SUBMIT_SUNRISE
            - PENDING_SUBMIT_WAITING_LANDRUSH
            - PENDING_SUCCESS_PRE_REGISTRATION
            - PENDING_SUSPENDED_DATA_QUALITY
            - PENDING_TRANSFER_ACK_PREMIUM
            - PENDING_TRANSFER_IN
            - PENDING_TRANSFER_IN_ACK
            - PENDING_TRANSFER_IN_ACK_PREMIUM
            - PENDING_TRANSFER_IN_BAD_REGISTRANT
            - PENDING_TRANSFER_IN_CANCEL
            - PENDING_TRANSFER_IN_CANCEL_REGISTRY
            - PENDING_TRANSFER_IN_COMPLETE_ACK
            - PENDING_TRANSFER_IN_DELETE
            - PENDING_TRANSFER_IN_LOCK
            - PENDING_TRANSFER_IN_NACK
            - PENDING_TRANSFER_IN_NOTIFICATION
            - PENDING_TRANSFER_IN_PREMIUM
            - PENDING_TRANSFER_IN_RELEASE
            - PENDING_TRANSFER_IN_RESPONSE
            - PENDING_TRANSFER_IN_UNDERAGE
            - PENDING_TRANSFER_OUT
            - PENDING_TRANSFER_OUT_ACK
            - PENDING_TRANSFER_OUT_NACK
            - PENDING_TRANSFER_OUT_PREMIUM
            - PENDING_TRANSFER_OUT_UNDERAGE
            - PENDING_TRANSFER_OUT_VALIDATION
            - PENDING_TRANSFER_PREMIUM
            - PENDING_TRANSFER_PREMUIM
            - PENDING_TRANSFER_SUBMIT_PREMIUM
            - PENDING_UNLOCK_DATA_QUALITY
            - PENDING_UNLOCK_PREMIUM
            - PENDING_UPDATE
            - PENDING_UPDATED_REGISTRANT_DATA_QUALITY
            - PENDING_UPDATE_ACCOUNT
            - PENDING_UPDATE_API
            - PENDING_UPDATE_API_RESPONSE
            - PENDING_UPDATE_AUTH
            - PENDING_UPDATE_CONTACTS
            - PENDING_UPDATE_CONTACTS_PRIVACY
            - PENDING_UPDATE_DNS
            - PENDING_UPDATE_DNS_SECURITY
            - PENDING_UPDATE_ELIGIBILITY
            - PENDING_UPDATE_EPP_CONTACTS
            - PENDING_UPDATE_MEMBERSHIP
            - PENDING_UPDATE_OWNERSHIP
            - PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION
            - PENDING_UPDATE_OWNERSHIP_HELD
            - PENDING_UPDATE_REGISTRANT
            - PENDING_UPDATE_REPO
            - PENDING_VALIDATION_DATA_QUALITY
            - PENDING_VERIFICATION_FRAUD
            - PENDING_VERIFICATION_STATUS
            - PENDING_VERIFY_REGISTRANT_DATA_QUALITY
            - RESERVED
            - RESERVED_PREMIUM
            - REVERTED
            - SUSPENDED_VERIFICATION_ICANN
            - TRANSFERRED_OUT
            - UNLOCKED_ABUSE
            - UNLOCKED_SUPER
            - UNPARKED_AND_UNHELD
            - UPDATED_OWNERSHIP
            - UPDATED_OWNERSHIP_HELD
            type: string
      - description: Only include results with `status` value in any of the specified groups
        in: query
        name: statusGroups
        required: false
        schema:
          type: array
          items:
            enum:
            - INACTIVE
            - PRE_REGISTRATION
            - REDEMPTION
            - RENEWABLE
            - VERIFICATION_ICANN
            - VISIBLE
            type: string
      - description: Maximum number of domains to return
        in: query
        name: limit
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - description: Marker Domain to use as the offset in results
        in: query
        name: marker
        required: false
        schema:
          type: string
      - description: Optional details to be included in the response
        in: query
        name: includes
        required: false
        schema:
          type: array
          items:
            enum:
            - authCode
            - contacts
            - nameServers
            type: string
      - description: Only include results that have been modified since the specified date
        in: query
        name: modifiedDate
        required: false
        schema:
          type: string
          format: iso-datetime
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSummary'
                type: array
            application/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSummary'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSummary'
                type: array
            text/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSummary'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSummary'
                type: array
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Limit must have a value no greater than 1000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list
      summary: Retrieve a list of Domains for the specified Shopper
  /v1/domains/agreements:
    get:
      tags:
      - Domains
      parameters:
      - description: Unique identifier of the Market used to retrieve/translate Legal Agreements
        in: header
        name: X-Market-Id
        required: false
        schema:
          type: string
          format: bcp-47
          default: en-US
      - description: list of TLDs whose legal agreements are to be retrieved
        in: query
        name: tlds
        required: true
        schema:
          type: array
          items:
            type: string
      - description: Whether or not privacy has been requested
        in: query
        name: privacy
        required: true
        schema:
          type: boolean
      - description: Whether or not domain tranfer has been requested
        in: query
        name: forTransfer
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                type: array
            application/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                type: array
            text/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                type: array
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getAgreement
      summary: Retrieve the legal agreement(s) required to purchase the specified TLD and…
  /v1/domains/available:
    get:
      tags:
      - Domains
      parameters:
      - description: Domain name whose availability is to be checked
        in: query
        name: domain
        required: true
        schema:
          type: string
      - description: Optimize for time ('FAST') or accuracy ('FULL')
        in: query
        name: checkType
        required: false
        schema:
          type: string
          enum:
          - FAST
          - FULL
          - fast
          - full
          default: FAST
      - description: Whether or not to include domains available for transfer. If set to True, checkType is ignored
        in: query
        name: forTransfer
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dashbr>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>domain must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: available
      summary: Determine whether or not the specified domain is available for purchase
    post:
      tags:
      - Domains
      parameters:
      - description: Optimize for time ('FAST') or accuracy ('FULL')
        in: query
        name: checkType
        required: false
        schema:
          type: string
          enum:
          - FAST
          - FULL
          - fast
          - full
          default: FAST
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
        '203':
          description: Request was partially successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dash<br>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>Reserved name error<br>domain must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: availableBulk
      summary: Determine whether or not the specified domains are available for purchase
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              maximum: 500
              type: array
          application/xml:
            schema:
              items:
                type: string
              maximum: 500
              type: array
          text/xml:
            schema:
              items:
                type: string
              maximum: 500
              type: array
        description: Domain names for which to check availability
        required: true
  /v1/domains/contacts/validate:
    post:
      tags:
      - Domains
      parameters:
      - description: PrivateLabelId to operate as, if different from JWT
        in: header
        name: X-Private-Label-Id
        required: false
        schema:
          type: integer
          default: 1
      - description: MarketId in which the request is being made, and for which responses should be localized
        in: query
        name: marketId
        required: false
        schema:
          type: string
          format: bcp-47
          default: en-US
      responses:
        '200':
          description: No response was specified
        '204':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Request body doesn't fulfill schema, see details in `fields`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      description: All contacts specified in request will be validated against all domains specifed in "domains". As an alternative, you can also pass in tlds, with the exception of `uk`, which requires full domain names
      operationId: ContactsValidate
      summary: Validate the request body using the Domain Contact Validation Schema for…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
        description: An instance document expected for domains contacts validation
        required: true
  /v1/domains/purchase:
    post:
      tags:
      - Domains
      parameters:
      - description: The Shopper for whom the domain should be purchased
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: domain must be specified<br>Based on restrictions declared in JSON schema returned by `./schema/{tld}`<br>Cannot convert domain label error<br>Domain is missing IDN script<br>Domain segment ends with dash<br>Domain starts with dash<br>Domain uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid character(s) error<br>Invalid tld error<br>Non-IDN domain name must not have dashes at the third and fourth position<br>Reserved name error<br>`body` must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: purchase
      summary: Purchase and register the specified Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
        description: An instance document expected to match the JSON schema returned by `./schema/{tld}`
        required: true
  /v1/domains/purchase/schema/{tld}:
    get:
      tags:
      - Domains
      parameters:
      - description: The Top-Level Domain whose schema should be retrieved
        in: path
        name: tld
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            application/javascript:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            application/xml:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            text/javascript:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            text/xml:
              schema:
                $ref: '#/components/schemas/JsonSchema'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`tld` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: schema
      summary: Retrieve the schema to be submitted when registering a Domain for the specified…
  /v1/domains/purchase/validate:
    post:
      tags:
      - Domains
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Based on restrictions declared in JSON schema returned by `./schema/{tld}`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: validate
      summary: Validate the request body using the Domain Purchase Schema for the specified TLD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
        description: An instance document expected to match the JSON schema returned by `./schema/{tld}`
        required: true
  /v1/domains/suggest:
    get:
      tags:
      - Domains
      parameters:
      - description: Shopper ID for which the suggestions are being generated
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Domain name or set of keywords for which alternative domain names will be suggested
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: 'Two-letter ISO country code to be used as a hint for target region<br/><br/>

          NOTE: These are sample values, there are many

          <a href="http://www.iso.org/iso/country_codes.htm">more</a>'
        in: query
        name: country
        required: false
        schema:
          type: string
          format: iso-country-code
          enum:
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KR
          - KV
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - ST
          - SV
          - SX
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - YE
          - YT
          - ZA
          - ZM
          - ZW
      - description: Name of city to be used as a hint for target region
        in: query
        name: city
        required: false
        schema:
          type: string
          format: city-name
      - description: 'Sources to be queried<br/><br/><ul>

          <li><strong>CC_TLD</strong> - Varies the TLD using Country Codes</li>

          <li><strong>EXTENSION</strong> - Varies the TLD</li>

          <li><strong>KEYWORD_SPIN</strong> - Identifies keywords and then rotates each one</li>

          <li><strong>PREMIUM</strong> - Includes variations with premium prices</li></ul>'
        in: query
        name: sources
        required: false
        schema:
          type: array
          items:
            enum:
            - CC_TLD
            - EXTENSION
            - KEYWORD_SPIN
            - PREMIUM
            - cctld
            - extension
            - keywordspin
            - premium
            type: string
      - description: 'Top-level domains to be included in suggestions<br/><br/>

          NOTE: These are sample values, there are many

          <a href="http://www.godaddy.com/tlds/gtld.aspx#domain_search_form">more</a>'
        in: query
        name: tlds
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Maximum length of second-level domain
        in: query
        name: lengthMax
        required: false
        schema:
          type: integer
      - description: Minimum length of second-level domain
        in: query
        name: lengthMin
        required: false
        schema:
          type: integer
      - description: Maximum number of suggestions to return
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: 'Maximum amount of time, in milliseconds, to wait for responses

          If elapses, return the results compiled up to that point'
        in: query
        name: waitMs
        required: false
        schema:
          type: integer
          format: integer-positive
          default: 1000
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                type: array
            application/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                type: array
            text/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                type: array
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`query` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: suggest
      summary: Suggest alternate Domain names based on a seed Domain, a set of keywords, or…
  /v1/domains/tlds:
    get:
      tags:
      - Domains
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TldSummary'
                type: array
            application/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/TldSummary'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TldSummary'
                type: array
            text/javascript:
              schema:
                items:
                  $ref: '#/components/schemas/TldSummary'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TldSummary'
                type: array
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: tlds
      summary: Retrieves a list of TLDs supported and enabled for sale
  /v1/domains/{domain}:
    delete:
      tags:
      - Domains
      parameters:
      - description: Domain to cancel
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unknown domain error<br>At least two apex (aka @) `nameServers` must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: cancel
      summary: Cancel a purchased domain
    get:
      tags:
      - Domains
      parameters:
      - description: Shopper ID expected to own the specified domain
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Domain name whose details are to be retrieved
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
        '203':
          description: Request was partially successful, see verifications.status for further detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`domain` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get
      summary: Retrieve details for the specified Domain
    patch:
      tags:
      - Domains
      parameters:
      - description: Domain whose details are to be updated
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: 'Shopper for whom Domain is to be updated. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Specified Subaccount not owned by authenticated Shopper
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The given domain is not eligible to have its nameservers changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: At least two apex (aka @) `nameServers` must be specified<br>Failed to update nameservers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: update
      summary: Update details for the specified Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
        description: Changes to apply to existing Domain
        required: true
  /v1/domains/{domain}/contacts:
    patch:
      tags:
      - Domains
      parameters:
      - description: 'Shopper for whom domain contacts are to be updated. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account. For instance, if you''re a Reseller, but purchased a Domain via http://www.godaddy.com'
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Domain whose Contacts are to be updated.
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
        '204':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domain not found<br>Identity document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`domain` is not a valid Domain name'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: updateContacts
      summary: Update domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainContacts'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainContacts'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainContacts'
        description: Changes to apply to existing Contacts
        required: true
  /v1/domains/{domain}/privacy:
    delete:
      tags:
      - Domains
      parameters:
      - description: Shopper ID of the owner of the domain
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Domain whose privacy is to be cancelled
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Customer has purchased Domain Ownership Protection and the domain has expired<br>The domain status does not allow performing the operation<br>Unknown domain error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: cancelPrivacy
      summary: Submit a privacy cancellation request for the given domain
  /v1/domains/{domain}/privacy/purchase:
    post:
      tags:
      - Domains
      parameters:
      - description: Shopper ID of the owner of the domain
        in: header
        name: X-Shopper-Id
        required: false
        schema:
          type: string
      - description: Domain for which to purchase privacy
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
[...]
