openapi: 3.2.0
info:
  title: Domains Notifications API
  description: 'The Domains API is for domain-related actions such as purchasing, renewing, or managing domains.


    Updates to domains generally require the domain to be in an `ACTIVE` status. Some update actions (such as updating nameservers) on protected and high-value domains requires 2FA which is currently not supported via the api.'
servers:
- url: https://api.ote-godaddy.com
tags:
- name: Notifications
  description: ''
paths:
  /v2/customers/{customerId}/domains/notifications:
    get:
      tags:
      - Notifications
      summary: Retrieve the next domain notification
      parameters:
      - name: X-Request-Id
        required: false
        in: header
        description: A client provided identifier for tracking this request.
        schema:
          type: string
      - description: 'The Customer identifier<br/> Note: For API Resellers, performing actions on behalf of your customers, you need to specify the Subaccount you''re operating on behalf of; otherwise use your shopper id.'
        in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainNotification'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The customer does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV2CustomersByCustomerIdDomainsNotifications
      x-operation-id-source: derived
  /v2/customers/{customerId}/domains/notifications/optIn:
    get:
      tags:
      - Notifications
      summary: Retrieve a list of notification types that are opted in
      parameters:
      - name: X-Request-Id
        required: false
        in: header
        description: A client provided identifier for tracking this request.
        schema:
          type: string
      - description: 'The Customer identifier<br/> Note: For API Resellers, performing actions on behalf of your customers, you need to specify the Subaccount you''re operating on behalf of; otherwise use your shopper id.'
        in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainNotification'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The customer does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV2CustomersByCustomerIdDomainsNotificationsOptIn
      x-operation-id-source: derived
    put:
      tags:
      - Notifications
      summary: Opt in to recieve notifications for the submitted notification types
      parameters:
      - name: X-Request-Id
        required: false
        in: header
        description: A client provided identifier for tracking this request.
        schema:
          type: string
      - description: 'The Customer identifier<br/> Note: For API Resellers, performing actions on behalf of your customers, you need to specify the Subaccount you''re operating on behalf of; otherwise use your shopper id.'
        in: path
        name: customerId
        required: true
        schema:
          type: string
      - name: types
        description: The notification types that should be opted in
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AUTH_CODE_PURCHASE
            - AUTH_CODE_REGENERATE
            - AUTO_RENEWAL
            - BACKORDER
            - BACKORDER_PURCHASE
            - BACKORDER_DELETE
            - BACKORDER_UPDATE
            - CHANGE_OF_REGISTRANT_DELETE
            - CONTACT_CREATE
            - CONTACT_DELETE
            - CONTACT_UPDATE
            - DNS_VERIFICATION
            - DNSSEC_CREATE
            - DNSSEC_DELETE
            - DOMAIN_DELETE
            - DOMAIN_UPDATE
            - DOMAIN_UPDATE_CONTACTS
            - DOMAIN_UPDATE_NAME_SERVERS
            - EXPIRY
            - HOST_CREATE
            - HOST_DELETE
            - ICANN_VERIFICATION
            - MIGRATE
            - MIGRATE_IN
            - PREMIUM
            - PRIVACY_FORWARDING_UPDATE
            - PRIVACY_PURCHASE
            - PRIVACY_DELETE
            - REDEEM
            - REGISTER
            - RENEW
            - RENEW_UNDO
            - TRADE
            - TRADE_CANCEL
            - TRADE_PURCHASE
            - TRADE_PURCHASE_AUTH_TEXT_MESSAGE
            - TRADE_RESEND_AUTH_EMAIL
            - TRANSFER
            - TRANSFER_IN
            - TRANSFER_IN_ACCEPT
            - TRANSFER_IN_CANCEL
            - TRANSFER_IN_RESTART
            - TRANSFER_IN_RETRY
            - TRANSFER_OUT
            - TRANSFER_OUT_ACCEPT
            - TRANSFER_OUT_REJECT
            - TRANSFER_OUT_REQUESTED
            - TRANSIT
      responses:
        '204':
          description: Command successful
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The customer does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`type` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: putV2CustomersByCustomerIdDomainsNotificationsOptIn
      x-operation-id-source: derived
  /v2/customers/{customerId}/domains/notifications/schemas/{type}:
    get:
      tags:
      - Notifications
      summary: Retrieve the schema for the notification data for the specified notification…
      parameters:
      - name: X-Request-Id
        required: false
        in: header
        description: A client provided identifier for tracking this request.
        schema:
          type: string
      - description: 'The Customer identifier<br/> Note: For API Resellers, performing actions on behalf of your customers, you need to specify the Subaccount you''re operating on behalf of; otherwise use your shopper id.'
        in: path
        name: customerId
        required: true
        schema:
          type: string
      - description: The notification type whose schema should be retrieved
        name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - AUTO_RENEWAL
          - BACKORDER
          - BACKORDER_PURCHASE
          - EXPIRY
          - PREMIUM
          - PRIVACY_PURCHASE
          - REDEEM
          - REGISTER
          - RENEW
          - TRADE
          - TRANSFER
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The schema type does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`type` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV2CustomersByCustomerIdDomainsNotificationsSchemasByType
      x-operation-id-source: derived
  /v2/customers/{customerId}/domains/notifications/{notificationId}/acknowledge:
    post:
      tags:
      - Notifications
      summary: Acknowledge a domain notification
      parameters:
      - name: X-Request-Id
        required: false
        in: header
        description: A client provided identifier for tracking this request.
        schema:
          type: string
      - description: 'The Customer identifier<br/> Note: For API Resellers, performing actions on behalf of your customers, you need to specify the Subaccount you''re operating on behalf of; otherwise use your shopper id.'
        in: path
        name: customerId
        required: true
        schema:
          type: string
      - name: notificationId
        description: The notification ID to acknowledge
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Message acknowledged
        '401':
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postV2CustomersByCustomerIdDomainsNotificationsByNotificationIdAcknowledge
      x-operation-id-source: derived
components:
  schemas:
    JsonDataType:
      properties:
        format:
          type: string
        pattern:
          type: string
        type:
          type: string
      required:
      - type
      - $ref
    JsonProperty:
      properties:
        defaultValue:
          type: string
        format:
          type: string
        items:
          items:
            $ref: '#/components/schemas/JsonDataType'
          type: object
        maxItems:
          type: integer
        maximum:
          type: integer
        minItems:
          type: integer
        minimum:
          type: integer
        pattern:
          type: string
        required:
          type: boolean
        type:
          type: string
      required:
      - type
      - $ref
      - required
    JsonSchema:
      properties:
        id:
          type: string
        models:
          items:
            $ref: '#/components/schemas/JsonSchema'
          type: object
        properties:
          items:
            $ref: '#/components/schemas/JsonProperty'
          type: object
        required:
          items:
            type: string
          type: array
      required:
      - id
      - properties
      - required
      - models
    ErrorField:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        message:
          description: Human-readable, English description of the problem with the contents of the field
          type: string
        path:
          description: '<ul>

            <li style=''margin-left: 12px;''>JSONPath referring to a field containing an error</li>

            <strong style=''margin-left: 12px;''>OR</strong>

            <li style=''margin-left: 12px;''>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>

            </ul>'
          format: json-path
          type: string
        pathRelated:
          description: JSONPath referring to a field containing an error, which is referenced by `path`
          format: json-path
          type: string
      required:
      - path
      - code
    DomainNotification:
      properties:
        notificationId:
          description: The notification ID to be used in POST /v2/customers/{customerId}/domains/notifications to acknowledge the notification
          default: ''
          type: string
        type:
          description: The type of action the notification relates to
          enum:
          - AUTH_CODE_PURCHASE
          - AUTH_CODE_REGENERATE
          - AUTO_RENEWAL
          - BACKORDER
          - BACKORDER_PURCHASE
          - BACKORDER_DELETE
          - BACKORDER_UPDATE
          - CHANGE_OF_REGISTRANT_DELETE
          - CONTACT_CREATE
          - CONTACT_DELETE
          - CONTACT_UPDATE
          - DNS_VERIFICATION
          - DNSSEC_CREATE
          - DNSSEC_DELETE
          - DOMAIN_DELETE
          - DOMAIN_UPDATE
          - DOMAIN_UPDATE_CONTACTS
          - DOMAIN_UPDATE_NAME_SERVERS
          - EXPIRY
          - HOST_CREATE
          - HOST_DELETE
          - ICANN_VERIFICATION
          - MIGRATE
          - MIGRATE_IN
          - PREMIUM
          - PRIVACY_FORWARDING_UPDATE
          - PRIVACY_PURCHASE
          - PRIVACY_DELETE
          - REDEEM
          - REGISTER
          - RENEW
          - RENEW_UNDO
          - TRADE
          - TRADE_CANCEL
          - TRADE_PURCHASE
          - TRADE_PURCHASE_AUTH_TEXT_MESSAGE
          - TRADE_RESEND_AUTH_EMAIL
          - TRANSFER
          - TRANSFER_IN
          - TRANSFER_IN_ACCEPT
          - TRANSFER_IN_CANCEL
          - TRANSFER_IN_RESTART
          - TRANSFER_IN_RETRY
          - TRANSFER_OUT
          - TRANSFER_OUT_ACCEPT
          - TRANSFER_OUT_REJECT
          - TRANSFER_OUT_REQUESTED
          - TRANSIT
          type: string
        resource:
          description: The resource the notification pertains to.
          default: ''
          type: string
        resourceType:
          description: The type of resource the notification relates to
          enum:
          - CONTACT
          - DOMAIN
          - HOST
          type: string
        status:
          type: string
          enum:
          - AWAITING
          - CANCELLED
          - FAILED
          - PENDING
          - SUCCESS
          description: The resulting status of the action.
        addedAt:
          description: The date the notification was added
          default: ''
          type: string
          format: iso-datetime
        requestId:
          type: string
          description: A client provided identifier (via X-Request-Id header) indicating the request this notification is for
        metadata:
          description: The notification data for the given type as specifed by GET /v2/customers/{customerId}/domains/notifications/schema
          default: ''
          type: object
      required:
      - notificationId
      - type
      - resource
      - resourceType
      - status
      - addedAt
    ErrorLimit:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        fields:
          description: List of the specific fields, and the errors found with their contents
          items:
            $ref: '#/components/schemas/ErrorField'
          type: array
        message:
          description: Human-readable, English description of the error
          type: string
        retryAfterSec:
          description: Number of seconds to wait before attempting a similar request
          format: integer-positive
          type: integer
      required:
      - retryAfterSec
      - code
    Error:
      properties:
        code:
          description: Short identifier for the error, suitable for indicating the specific error within client code
          format: constant
          type: string
        fields:
          description: List of the specific fields, and the errors found with their contents
          items:
            $ref: '#/components/schemas/ErrorField'
          type: array
        message:
          description: Human-readable, English description of the error
          type: string
      required:
      - code
