{
  "swagger": "2.0",
  "tags": [
    {
      "name": "v1",
      "description": ""
    }
  ],
  "host": "api.ote-godaddy.com",
  "paths": {
    "/v1/countries": {
      "get": {
        "tags": [
          "v1"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "MarketId in which the request is being made, and for which responses should be localized",
            "format": "bcp-47",
            "in": "query",
            "name": "marketId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "$ref": "#/definitions/ArrayOfCountrySummary"
            }
          },
          "422": {
            "description": "marketId is required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "schema": {
              "$ref": "#/definitions/ErrorLimit"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "description": "Authorization is not required",
        "operationId": "getCountries",
        "summary": "Retrieves summary country information for the provided marketId and filters"
      }
    },
    "/v1/countries/{countryKey}": {
      "get": {
        "tags": [
          "v1"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The country key",
            "format": "iso-country-code",
            "in": "path",
            "name": "countryKey",
            "required": true,
            "type": "string"
          },
          {
            "description": "MarketId in which the request is being made, and for which responses should be localized",
            "format": "bcp-47",
            "in": "query",
            "name": "marketId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "$ref": "#/definitions/ArrayOfCountry"
            }
          },
          "404": {
            "description": "Country not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "marketId is required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "schema": {
              "$ref": "#/definitions/ErrorLimit"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "description": "Authorization is not required",
        "operationId": "getCountry",
        "summary": "Retrieves country and summary state information for provided countryKey"
      }
    }
  },
  "definitions": {
    "ArrayOfCountry": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Country"
      }
    },
    "Country": {
      "properties": {
        "callingCode": {
          "description": "The calling code prefix used for phone numbers in this country",
          "type": "string"
        },
        "countryKey": {
          "description": "The ISO country-code",
          "format": "iso-country-code",
          "type": "string"
        },
        "label": {
          "description": "The localized name of the country",
          "type": "string"
        },
        "states": {
          "description": "List of states/provinces in this country",
          "items": {
            "$ref": "#/definitions/State"
          },
          "type": "array"
        }
      }
    },
    "ArrayOfCountrySummary": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CountrySummary"
      }
    },
    "CountrySummary": {
      "properties": {
        "callingCode": {
          "description": "The calling code prefix used for phone numbers in this country",
          "type": "string"
        },
        "countryKey": {
          "description": "The ISO country-code",
          "format": "iso-country-code",
          "type": "string"
        },
        "label": {
          "description": "The localized name of the country",
          "type": "string"
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "fields": {
          "description": "List of the specific fields, and the errors found with their contents",
          "items": {
            "$ref": "#/definitions/ErrorField"
          },
          "type": "array"
        },
        "message": {
          "description": "Human-readable, English description of the error",
          "type": "string"
        },
        "stack": {
          "description": "Stack trace indicating where the error occurred.<br/>\nNOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.\nHowever, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "code"
      ]
    },
    "ErrorField": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "message": {
          "description": "Human-readable, English description of the problem with the contents of the field",
          "type": "string"
        },
        "path": {
          "description": "JSONPath referring to the field within the submitted data containing an error",
          "format": "json-path",
          "type": "string"
        }
      },
      "required": [
        "path",
        "code"
      ]
    },
    "ErrorLimit": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "fields": {
          "description": "List of the specific fields, and the errors found with their contents",
          "items": {
            "$ref": "#/definitions/ErrorField"
          },
          "type": "array"
        },
        "message": {
          "description": "Human-readable, English description of the error",
          "type": "string"
        },
        "retryAfterSec": {
          "description": "Number of seconds to wait before attempting a similar request",
          "format": "integer-positive",
          "type": "integer"
        },
        "stack": {
          "description": "Stack trace indicating where the error occurred.<br/>\nNOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.\nHowever, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "retryAfterSec",
        "code"
      ]
    },
    "State": {
      "properties": {
        "label": {
          "description": "The localized name of the state, province, or territory",
          "type": "string"
        },
        "stateKey": {
          "description": "The state code",
          "type": "string"
        }
      }
    }
  }
}
