{
  "swagger": "2.0",
  "tags": [
    {
      "name": "v1",
      "description": ""
    }
  ],
  "host": "api.ote-godaddy.com",
  "paths": {
    "/v1/agreements": {
      "get": {
        "tags": [
          "v1"
        ],
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/javascript",
          "application/xml",
          "text/javascript",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "PrivateLabelId to operate as, if different from JWT",
            "in": "header",
            "name": "X-Private-Label-Id",
            "required": false,
            "type": "integer"
          },
          {
            "default": "en-US",
            "description": "Unique identifier of the Market used to retrieve/translate Legal Agreements",
            "format": "bcp-47",
            "in": "header",
            "name": "X-Market-Id",
            "required": false,
            "type": "string"
          },
          {
            "description": "Keys for Agreements whose details are to be retrieved",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "keys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "items": {
                "$ref": "#/definitions/LegalAgreement"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Request was malformed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "schema": {
              "$ref": "#/definitions/ErrorLimit"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get",
        "summary": "Retrieve Legal Agreements for provided agreements keys"
      }
    }
  },
  "definitions": {
    "Error": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "fields": {
          "description": "List of the specific fields, and the errors found with their contents",
          "items": {
            "$ref": "#/definitions/ErrorField"
          },
          "type": "array"
        },
        "message": {
          "description": "Human-readable, English description of the error",
          "type": "string"
        }
      },
      "required": [
        "code"
      ]
    },
    "ErrorField": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "message": {
          "description": "Human-readable, English description of the problem with the contents of the field",
          "type": "string"
        },
        "path": {
          "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
          "format": "json-path",
          "type": "string"
        },
        "pathRelated": {
          "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
          "format": "json-path",
          "type": "string"
        }
      },
      "required": [
        "path",
        "code"
      ]
    },
    "ErrorLimit": {
      "properties": {
        "code": {
          "description": "Short identifier for the error, suitable for indicating the specific error within client code",
          "format": "constant",
          "type": "string"
        },
        "fields": {
          "description": "List of the specific fields, and the errors found with their contents",
          "items": {
            "$ref": "#/definitions/ErrorField"
          },
          "type": "array"
        },
        "message": {
          "description": "Human-readable, English description of the error",
          "type": "string"
        },
        "retryAfterSec": {
          "description": "Number of seconds to wait before attempting a similar request",
          "format": "integer-positive",
          "type": "integer"
        }
      },
      "required": [
        "retryAfterSec",
        "code"
      ]
    },
    "LegalAgreement": {
      "properties": {
        "agreementKey": {
          "description": "Unique identifier for the legal agreement",
          "type": "string"
        },
        "content": {
          "description": "Contents of the legal agreement, suitable for embedding",
          "type": "string"
        },
        "title": {
          "description": "Title of the legal agreement",
          "type": "string"
        },
        "url": {
          "description": "URL to a page containing the legal agreement",
          "format": "url",
          "type": "string"
        }
      },
      "required": [
        "agreementKey",
        "title",
        "content"
      ]
    }
  }
}
